.profilev{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 120px;
    /* height: 100px; */
    width: 15%;
    margin-left: 30.3%;
    gap: 50px;
}
.profdata{
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
}
.profdata p{
    text-align: start;
    margin: 0;
}
.profeditb{
    margin-top: 50px;
    margin-left: 45%;
}