@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
header{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 10px;
}
nav{
    /* background-color: aqua; */
    width: 500px;
}

nav ul{
display: flex;
/* background-color: red; */
justify-content: space-evenly;

}
ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 30px;
}
ul a.active{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(224, 217, 217);
    width: 90px;
    /* height: 30px */
    border-radius:20px;
}
.logo{
    display: flex;
    /* background-color: aqua; */
}
.logot{
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;

}
.bookt{
    margin-top: 10px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px ;
    border: 1px solid black;
    border-radius:105px;
    font-weight: 600;
    background-color: white;
}
.booktableb{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}
.profile{
    display: flex;
    gap: 30px;
}
.profname{
    display: flex;
    align-items: center;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: x-large;
    padding-top: 10px;
    height:fit-content ;
}
.navprofout{
    display: flex;
    gap: 10px;
}
.navicon{
    display: none;
}

@media (min-width :600.1px){
 
    
    /* .r{
         display: flex;
        width:309.7px;
    height:50.4px;       
    }
    .sin11{
        display: flex;
    }
    .sin12{
        display: none !important;
    } */
    
    }
   
    @media (max-width :986px){

 .booktableb{
    width: 100px;
        /* flex-grow: 2; */
    }
.navprofout{
    width: 40%;
}
      .navicon{
        display: block;
       
        margin-top: 90px;
        width: 50px;
      }
      #navba{
         position: absolute;
        left: 0px;
       width: fit-content;
      }
       .navb{
        margin: 0;
         background-color: brown;
        position: absolute;
        left: 0px;
  display: none;
        flex-direction: column;
        gap: 3px;       
        padding: 0;
        padding-left: 5px;
        padding-right:5px ;
       } 
       .navb a{
        color: white;
       }
       .navprofout{
        flex-direction: column;
    gap: 0px;   
    }
        }