@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
header{
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
nav{
    /* background-color: aqua; */
    width: 500px;
}

nav ul{
display: flex;
/* background-color: red; */
justify-content: space-evenly;

}
ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 30px;
}
ul a.active{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(224, 217, 217);
    width: 90px;
    /* height: 30px */
    border-radius:20px;
}
.logo{
    display: flex;
    /* background-color: aqua; */
}
.logot{
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;

}
.bookt{
    margin-top: 10px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px ;
    border: 1px solid black;
    border-radius:105px;
    font-weight: 600;
    background-color: white;
}
.profile{
    display: flex;
    gap: 30px;
}
.profname{
    display: flex;
    align-items: center;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: x-large;
    padding-bottom: 10px;
    /* height: ; */
}
.navprofout{
    display: flex;
    gap: 10px;
}