@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: rgb(249, 249, 247);
}
.bookcont{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.booktitle{
    font-family: "Playfair Display", serif;
font-size: 80px;
margin: 0;
font-weight: 400;
/* background-color:  #495460; */
}
.booktext{
    /* font-size: 18px; */
    /* margin-top: 40px; */
    margin: 0;
    width: 30%;
    margin-left: 35%;
    color: #495460;
}
.booktext1{
    /* display: flex; */
    /* justify-content: center; */
}
.bookcontainer{
    position: relative;
    
    margin-top: 50px;
    /* width: 36%; */
    /* background-color: blue; */
}
.bookform{
    /* overflow: auto; */
    background-color: white;
    
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    /* width: max-content; */
    /* height: 40%; */
    --main-width: 100%;

    justify-content: space-between;
    margin-top:40px; 
    margin-left:29%;
    z-index: 3;
    position: absolute;
    /* top: 10%;
  left: 50%;
  transform: translate(-50%, -130%); */
  /* padding-top: 20px; */
margin-bottom: 50px;
box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.05), -5px -5px 5px 5px rgba(128, 128, 128, 0.05);
padding: 20px;
gap: 25px;
border-radius: 10px;
/* float: left; */
}
Label{
    font-weight: 600;
}
.inp{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
height: fit-content;
width: max-content;
}
.inprow{
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 90%; */
}
.field1{
    width: 260px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #DBDFD0;
    padding-left: 15px;
}
.sel{
    width: 278.6px;
}
.field2{
    /* display: flex; */
/* width: 550px; */
width: 100%;
padding-left: 15px;
/* width: 34rem; */
/* width: 230%; */
/* min-width: 256.6px; */
/* min-width: 550px; */
/* width: 100%; */
/* width: calc(var(--main-width)*5.05); */
/* padding-right: ; */
border-radius: 50px;
height: 45px;
border: 1px solid #DBDFD0;
}
.booksubmit{
    border: 1px solid #DBDFD0;
    border-radius: 50px;    
    background-color: #AD343E;
    width: 465px;
    color: white;
    height: 45px;
}
.bookimg{
/* margin-top: 300px; */
/* position: absolute; */
z-index: -3;
transform: translate(0, 29.2%);
}

.fullrow{
width: 100%;
}
label{
    width: auto;
}
/* option{
    width: auto;
} */