@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

a{
    text-decoration: none;
}
.homebgcont{
    height: 780px;
}
.container1{
    position: relative;
    text-align: center;
}
.bgtext{
     /* position: absolute;
    top: 50%;
  left: 50%; */
  transform: translate(76%, -143%);
  width: 40%;
}
.bgtext1{
   font-family: "Playfair Display", serif;
  /* background-color: brown; */
  font-weight: 400;
  font-size: 100px;
  font-size: 600%;
}
.bgtext2{
    /* width: 40%;
    position: absolute;
    top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-weight: 400;
  /* font-family: "Playfair Display", serif; */
  /* font-size: ; */
}
.bgbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.bgb{
    height: 50px;
    width: 130px;
    border-radius: 20px;
    border: 1px;
display: flex;
    justify-content: center;
    align-items: center;
}
.bookb{
    background-color: brown;
    color: white;
    
}
.exploreb{
    border: 1px solid black;
 color: black;   
}
@media (max-width :1388px){
    .bgtext{
        /* width: 100%; */
        /* transform: translate(0, -143%); */
        /* justify-content: ; */
    }
    .bgtext1{
       font-size: 450%; 
        /* margin-top: 250px; */
    }
      
    .homebgcont{
        
       /* margin-top: 50px;  */
    }
      }


@media (max-width :764px){
    .bgtext{
        width: 100%;
        transform: translate(0, -143%);
        /* justify-content: ; */
    }
    .bgtext1{
       font-size: 450%; 
        /* margin-top: 250px; */
    }
      
    .homebgcont{
        
       /* margin-top: 50px;  */
    }
      }