.logform{
    background-color: white;
    
    display: flex;
    flex-direction: column;
     width: 30%;
     gap: 30px;
     top: 10%;
     margin-left:35%;
     margin-top:100px;
}
.logfield{
    /* width: 200px; */
    
    height: 30px;
    border-radius: 50px;
    border: 1px solid #DBDFD0;
}
.logab{
    margin-top: 2%;
    /* 
    margin-left:46%;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px ;
    
     */
    
}
.logab1{
    
    border: 1px solid black;
    border-radius:105px;
    padding: 10px;
    color: black;
    font-weight: 600;
}
label {
    text-align: start;
}