.align{
    text-align: start;
    margin-left: 30px ;
}

.HaboutContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.HaboutLeft{
position: relative;
height: 511px;
}
.HaboutLeft img{
    border-radius: 10px;
}


.HaboutRight{
display: flex;
flex-direction: column;
width: 22%;
/* width: 18%; */
text-align: start;
gap: 15px;
/* height: 150%; */
}
.HaboutRight h1, h5, p{
    margin: 0;
}


.moreaboutb{
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px ;
    height: 30px ;
    border: 1px solid black;
    border-radius:105px;
    margin-top: 20px;
}
.Haboutblackbox{
    /* background-color: rgb(49, 49, 49); */
    background-color: #474747;
    position: absolute;
    bottom: 1%;
    /* bottom: 5px; */
    right: -5%; 
    /* right: -35px;  */
 /* transform: translate(0, 50%); */
  color: white;
  width: 336px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-radius: 10px;
}
.Haboutphone, .Haboutmail, .Haboutaddress{
    display: flex;
    align-items: start;
    /* justify-content: space-around; */
 gap:15px;   
 /* padding-left: 20px; */
 padding: 20px;
 /* padding-bottom: 10px; */
 margin-left: 10px;
}

.Haboutblacksocials{
    display: flex;
}
.Haboutblackicons, .Haboutblacktext{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;  */
}

.Haboutblackbox p{
    width: 260px;
    text-align: start;
    /* position: relative; */
    /* top: 0; */
    /* height: 35px; */
    /* color: aqua; */
}

.addressi{
    width: 30px;
}
.Habouti,.addressi{

}
@media (max-width :850px){
    .HaboutContainer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }   
    .Haboutblackbox{
        right: 0;
    }
    .HaboutRight{
        width: 80%;
        
    }
}